h2{
    text-align: center;
}

.galeria{
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 32vh 32vh 32vh;
    grid-template-rows: 28vh 28vh 28vh;
    grid-template-areas: "principal item item2"
                        "principal item3 item4"
                        "item5 item6 item7";
    
   grid-gap: 10px;
   margin: 0 auto;
}



.grid-principal{

    background-color: darkgreen;
    grid-area: principal;
}

.grid-item1{
    background-image: url('../imgs/jana-site.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: item;
}
.grid-item2{
    background-image: url('../imgs/Geovana-site.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: royalblue;
    grid-area: item2;
}
.grid-item3{
    background-image: url('../imgs/camila.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: item3;
}
.grid-item4{
    background-color: tomato;
    grid-area: item4;
}

.grid-item5{
    background-color: indigo;
    grid-area: item5;
}
.grid-item6{
    background-color: lawngreen;
    grid-area: item6;
}
.grid-item7{
    background-color: gold;
    grid-area: item7;
}

.grid:hover{
    background-color: black;
    cursor: pointer;
    margin: 30px 30px ;
    transition: .5s;
}

.grid{

    transition: .5s;
}

@media(max-width: 636px){
    .grid-anuncio{
        width: 33vh;
        height: 20vh;
        grid-area: anuncio;
        background-color: green;
       
    }
    .galeria{
        grid-template-columns: 10vh 10vh 10vh;
        grid-template-rows: 10vh 10vh;

    }
}