#batman_história{
    border: 9px;
font-size: 50px;
color: rgb(255, 189, 22)
;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: black;
border-radius: 19px;
text-align: center;}
#bahia{text-align: center; color: rgb(255, 189, 22);
background-color: black;font-size: 40px;
border-radius: 19px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#bruce{border-radius: 0px; margin-left: 300px;}
#foi{text-align: right;}
#zero{text-align: right;}
ul{text-align: left;
background-color: black;
color: white;
border-radius: 10px;
font-family: sans-serif;font-size: 20px;border: black 10px;}
#cx1{border-radius: 20px; margin: 10px;}
#bat{border: 9px;
    font-size: 40px;
    color: white;
    background-color: black;
    border-radius: 19px;
    text-align: center;}
    h2{font-family: sans-serif;}
    #itens{font-family: sans-serif;}
    img{border-radius: 0px;margin: 5px;
    }
    #batcar{text-align: center; color:rgb(255, 189, 22);
        background-color: black;font-size: 40px;
        border-radius: 19px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
        #bahiano{text-align: center; color:rgb(255, 189, 22);
            background-color: black;font-size: 40px;
            border-radius: 19px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
            body{background-color: rgb(175, 172, 158);}
            h3{font-size: 30px;
            margin: 25px;}
            p{font-size: 20px;text-align: justify; margin: 25px;}
            #sem{border-radius: 0px; margin-left: 25px;
            margin-bottom: -19%}
            #ppp{
            margin-left: 15%; margin-bottom: 120px;
            margin-top: -70px;
}
#ano{margin-left: 15%;
margin-top: 8px;margin-bottom: 80px;}
#capa27{border-radius: 0px; margin-bottom: -24%; margin-right: 80%;
margin-left: 25px;}
#ano30{margin-left: 15%;margin-bottom: -12%;
margin-top: 70px;}
#texto1930{margin-left: 15%; margin-bottom: 150px;
    margin-top: 180px;font-size: 20px;}
    #bat1{border-radius: 0px; margin-bottom: -14%; margin-right: 80%;
        margin-left: 25px;}
        #ano1940{margin-left: 15%;margin-bottom: -15%;
            margin-top: -60px;}
            #texto40{margin-left: 15%; margin-bottom: 120px;
                margin-top: 210px;font-size: 20px;}
                #batbin{border-radius: 0px; margin-bottom: -16%; margin-right: 80%;
                    margin-left: 25px;}
                    #ano1950{margin-left: 15%;margin-bottom: -15%;
                        margin-top: -28px;}
                        #texto50{margin-left: 15%; margin-bottom: 120px;
                            margin-top: 210px;font-size: 20px;}
                            #batman_cai{border-radius: 0px; margin-bottom: -16%; margin-right: 80%;
                                margin-left: 25px;}
                                #ano1960{margin-left: 15%;margin-bottom: -15%;
                                    margin-top: -35px;;}
                                    #texto60{margin-left: 15%; margin-bottom: 120px;
                                        margin-top: 215px;font-size: 20px;}
                                        #morreu{border-radius: 0px; margin-bottom: -16%; margin-right: 80%;
                                            margin-left: 25px;}
                                            #ano1970{margin-left: 15%;margin-bottom: -15%;
                                                margin-top: -29px;}
                                                #texto70{margin-left: 15%; margin-bottom: 120px;
                                                    margin-top: 205px;font-size: 20px;}
                                                    #escondido{border-radius: 0px; margin-bottom: -17%; margin-right: 80%;
                                                        margin-left: 25px;}
                                                        #ano1980{margin-left: 15%;margin-bottom: -15%;
                                                            margin-top: -10px;}
                                                            #texto80{margin-left: 15%; margin-bottom: 120px;
                                                                margin-top: 205px;font-size: 20px;}
                                                                #maluquinha{border-radius: 0px; margin-bottom: -18%; margin-right: 80%;
                                                                    margin-left: 25px;}
                                                                    #ano1990{margin-left: 15%;margin-bottom: -15%;
                                                                        margin-top: -5px;}
                                                                        #texto90{margin-left: 15%; margin-bottom: 150px;
                                                                            margin-top: 215px;font-size: 20px;}
                                                                            #firme{border-radius: 0px; margin-bottom: -18%; margin-right: 80%;
                                                                                margin-left: 25px;}
                                                                                #ano2000{margin-left: 15%;margin-bottom: -15%;
                                                                                    margin-top: -10px;}
                                                                                    #texto00{margin-left: 15%; margin-bottom: 120px;
                                                                                        margin-top: 215px;font-size: 20px;}
                                                                                        #corujas{border-radius: 0px; margin-bottom: -0%; margin-right: 80%;
                                                                                            margin-left: 25px; margin-top: 50px;}
                                                                                            #ano10{margin-left: 15%;margin-bottom: 19%;
                                                                                                margin-top: -250px;}
                                                                                                #texto10{margin-left: 15%; margin-bottom: 120px;
                                                                                                    margin-top: -240px;font-size: 20px;}

#carrinho:hover{color: rgb(255, 189, 22);}
#rico{margin-left: 300px;}
#robin:hover{color:rgb(255, 0, 0);}
#primeiro{text-align: justify;margin-left: 460px; margin-bottom: 150px;
    margin-top: -300px;
    font-size: 20px; margin-right: 25px;}
    #dickgrayson{border-radius: 0px; margin-left: 25px;}
#ipf{text-align: justify;margin-left: 460px; margin-bottom: 150px;
    margin-top: -150px;
    font-size: 20px; margin-right: 25px;}
    #segundo{text-align: justify;margin-left: 460px; margin-bottom: 150px;
        margin-top: -300px;
        font-size: 20px; margin-right: 25px;}
    #jt{text-align: justify;margin-left: 460px; margin-bottom: 150px;
        margin-top: -130px;
        font-size: 20px; margin-right: 25px;}
        #terceiro{text-align: justify;margin-left: 460px; margin-bottom: 150px;
            margin-top: -300px;
            font-size: 20px; margin-right: 25px;}
            #td{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                margin-top: -130px;
                font-size: 20px; margin-right: 25px;}
                #quarta{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                    margin-top: -300px;
                    font-size: 20px; margin-right: 25px;}
                    #sb{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                        margin-top: -130px;
                        font-size: 20px; margin-right: 25px;}
                        #quinto{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                            margin-top: -300px;
                            font-size: 20px; margin-right: 25px;}
                            #dw{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                margin-top: -130px;
                                font-size: 20px; margin-right: 25px;}


                                #secundário:hover{color: rgb(68, 115, 255);}
                                #personagem{text-align: center; color:rgb(255, 189, 22);
                                    background-color: black;font-size: 40px;
                                    border-radius: 19px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

                   #alfredo{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                    margin-top: -300px;
                    font-size: 20px; margin-right: 25px;}       
                    #atcp{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                        margin-top: -130px;
                        font-size: 20px; margin-right: 25px;}    
                        #carro:hover{color: aqua;} 
                        #vilão{border-radius: 0px; margin-left: 300px;}
                        #bang{font-size: 20px;text-align: justify;
                            margin-left: 25px; margin: 25px;} 
                            #joker{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                margin-top: -300px;
                                font-size: 20px; margin-right: 25px;}
                                #cj{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                    margin-top: -130px;
                                    font-size: 20px; margin-right: 25px;}
                                    #Penguin{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                        margin-top: -300px;
                                        font-size: 20px; margin-right: 25px;}
                                        #pg{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                            margin-top: -130px;
                                            font-size: 20px; margin-right: 25px;}
                                            #charada{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                margin-top: -300px;
                                                font-size: 20px; margin-right: 25px;}
                                                #cr{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                    margin-top: -130px;
                                                    font-size: 20px; margin-right: 25px;}   
                                                    #inimigo:hover{color: green;}

                                                    #hera{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                        margin-top: -300px;
                                                        font-size: 20px; margin-right: 25px;}
                                                        #hv{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                            margin-top: -130px;
                                                            font-size: 20px; margin-right: 25px;}
                                                            #duas_caras{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                                margin-top: -300px;
                                                                font-size: 20px; margin-right: 25px;}
                                                                #dc{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                                    margin-top: -130px;
                                                                    font-size: 20px; margin-right: 25px;}
                                                                    #mal{margin-left: 25px;}
                                                                    #mal1{margin-left: 25px;}
                                                                    #mal2{margin-left: 25px;}
                                                                    #mal3{margin-left: 25px;}
                                                                    #mal4{margin-left: 25px;}
                                                                    #mal5{margin-left: 25px;}
                                                                    #espantalho{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                                        margin-top: -300px;
                                                                        font-size: 20px; margin-right: 25px;}
                                                                        #ep{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                                            margin-top: -130px;
                                                                            font-size: 20px; margin-right: 25px;}

                                                                            footer{text-align: center;
                                                                            background-color: black;
                                                                        color: rgb(255, 189, 22); font-size: 20px; margin-top: 500px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

                                                                        #i:hover{color: rgb(255, 189, 22);}
                                                                        #n:hover{color: rgb(255, 189, 22);}
                                                                        #ini:hover{color: rgb(255, 189, 22);}
                                                                        #c:hover{color: rgb(255, 189, 22);}
                                                                        #cio:hover{color: rgb(255, 189, 22);}

                                                                        #i{font-size: 30px; text-align: center;margin-left: 600px;}
                                                                        #n{font-size: 30px;text-align: center;margin-left: 600px;}
                                                                        #ini{font-size: 30px;text-align: center; margin-left: 600px;}
                                                                        #c{font-size: 30px;text-align: center;margin-left: 600px;}
                                                                        #cio{font-size: 30px;text-align: center;margin-left: 600px;}

                                                                        #gordon{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                                            margin-top: -300px;
                                                                            font-size: 20px; margin-right: 25px;}
                                                                            #jg{text-align: justify;margin-left: 460px; margin-bottom: 150px;
                                                                                margin-top: -130px;
                                                                                font-size: 20px; margin-right: 25px;}

                                                                                #foto1{margin-left:300px ;}
                                                                                #fotos{text-align: center; color:rgb(255, 189, 22);
                                                                                    background-color: black;font-size: 40px;
                                                                                    border-radius: 19px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
                                                                                    #fotinha:hover{color: rgb(255, 189, 22);}
                                                                                    #fotinha{font-size: 30px;}